<settings>
    <!-- https://developer.garmin.com/connect-iq/core-topics/properties-and-app-settings/ -->
    <!-- todo add prompt to some of these -->

     <setting propertyKey="@Properties.activityType" title="@Strings.activityTypeTitle">
        <settingConfig type="list">
            <!-- value = (sport * 1000) + subSport -->
            <listEntry value="0">@Strings.ActGeneric</listEntry>
            <listEntry value="1000">@Strings.ActRun</listEntry>
            <listEntry value="1001">@Strings.ActRunTreadmill</listEntry>
            <listEntry value="1002">@Strings.ActRunStreet</listEntry>
            <listEntry value="1003">@Strings.ActRunTrail</listEntry>
            <listEntry value="1004">@Strings.ActRunTrack</listEntry>
            <listEntry value="1045">@Strings.ActRunIndoor</listEntry>
            <listEntry value="1058">@Strings.ActRunVirtual</listEntry>
            <listEntry value="1059">@Strings.ActRunObstacle</listEntry>
            <listEntry value="1067">@Strings.ActRunUltra</listEntry>
            <listEntry value="2000">@Strings.ActCycle</listEntry>
            <listEntry value="2005">@Strings.ActCycleSpin</listEntry>
            <listEntry value="2006">@Strings.ActCycleIndoor</listEntry>
            <listEntry value="2007">@Strings.ActCycleRoad</listEntry>
            <listEntry value="2008">@Strings.ActCycleMtn</listEntry>
            <listEntry value="2009">@Strings.ActCycleDownhill</listEntry>
            <listEntry value="2010">@Strings.ActCycleRecumbent</listEntry>
            <listEntry value="2011">@Strings.ActCycleCyclocross</listEntry>
            <listEntry value="2012">@Strings.ActCycleHand</listEntry>
            <listEntry value="2013">@Strings.ActCycleTrack</listEntry>
            <listEntry value="2029">@Strings.ActCycleBmx</listEntry>
            <listEntry value="2046">@Strings.ActCycleGravel</listEntry>
            <listEntry value="2048">@Strings.ActCycleCommute</listEntry>
            <listEntry value="2049">@Strings.ActCycleMixed</listEntry>
            <listEntry value="3000">@Strings.ActTransition</listEntry>
            <listEntry value="4000">@Strings.ActFitness</listEntry>
            <listEntry value="4014">@Strings.ActFitRow</listEntry>
            <listEntry value="4015">@Strings.ActFitElliptical</listEntry>
            <listEntry value="4016">@Strings.ActFitStair</listEntry>
            <listEntry value="4020">@Strings.ActFitStrength</listEntry>
            <listEntry value="4026">@Strings.ActFitCardio</listEntry>
            <listEntry value="4043">@Strings.ActFitYoga</listEntry>
            <listEntry value="4044">@Strings.ActFitPilates</listEntry>
            <listEntry value="4068">@Strings.ActFitIndoorClimb</listEntry>
            <listEntry value="4069">@Strings.ActFitBouldering</listEntry>
            <listEntry value="5000">@Strings.ActSwim</listEntry>
            <listEntry value="5017">@Strings.ActSwimLap</listEntry>
            <listEntry value="5018">@Strings.ActSwimOpen</listEntry>
            <listEntry value="6000">@Strings.ActBasketball</listEntry>
            <listEntry value="7000">@Strings.ActSoccer</listEntry>
            <listEntry value="8000">@Strings.ActTennis</listEntry>
            <listEntry value="9000">@Strings.ActFootballUS</listEntry>
            <listEntry value="10000">@Strings.ActTraining</listEntry>
            <listEntry value="11000">@Strings.ActWalk</listEntry>
            <listEntry value="11027">@Strings.ActWalkIndoor</listEntry>
            <listEntry value="11030">@Strings.ActWalkCasual</listEntry>
            <listEntry value="11031">@Strings.ActWalkSpeed</listEntry>
            <listEntry value="12000">@Strings.ActXcSki</listEntry>
            <listEntry value="12042">@Strings.ActXcSkiSkate</listEntry>
            <listEntry value="13000">@Strings.ActAlpineSki</listEntry>
            <listEntry value="13037">@Strings.ActAlpineSkiBack</listEntry>
            <listEntry value="13038">@Strings.ActAlpineSkiResort</listEntry>
            <listEntry value="14000">@Strings.ActSnowboard</listEntry>
            <listEntry value="14037">@Strings.ActSnowboardBack</listEntry>
            <listEntry value="14038">@Strings.ActSnowboardResort</listEntry>
            <listEntry value="15000">@Strings.ActRowing</listEntry>
            <listEntry value="16000">@Strings.ActMountaineering</listEntry>
            <listEntry value="17000">@Strings.ActHiking</listEntry>
            <listEntry value="18000">@Strings.ActMulti</listEntry>
            <listEntry value="18078">@Strings.ActMultiTri</listEntry>
            <listEntry value="18079">@Strings.ActMultiDu</listEntry>
            <listEntry value="18080">@Strings.ActMultiBrick</listEntry>
            <listEntry value="18081">@Strings.ActMultiSwimrun</listEntry>
            <listEntry value="18082">@Strings.ActMultiAdvRace</listEntry>
            <listEntry value="19000">@Strings.ActPaddling</listEntry>
            <listEntry value="20000">@Strings.ActFlying</listEntry>
            <listEntry value="20039">@Strings.ActFlyingDrone</listEntry>
            <listEntry value="21000">@Strings.ActEbike</listEntry>
            <listEntry value="21028">@Strings.ActEbikeFit</listEntry>
            <listEntry value="21047">@Strings.ActEbikeMtn</listEntry>
            <listEntry value="22000">@Strings.ActMotorcycle</listEntry>
            <listEntry value="22035">@Strings.ActMotorcycleAtv</listEntry>
            <listEntry value="22036">@Strings.ActMotorcycleMx</listEntry>
            <listEntry value="23000">@Strings.ActBoating</listEntry>
            <listEntry value="23032">@Strings.ActBoatingSail</listEntry>
            <listEntry value="24000">@Strings.ActDriving</listEntry>
            <listEntry value="25000">@Strings.ActGolf</listEntry>
            <listEntry value="26000">@Strings.ActHangGliding</listEntry>
            <listEntry value="27000">@Strings.ActHorseback</listEntry>
            <listEntry value="28000">@Strings.ActHunting</listEntry>
            <listEntry value="29000">@Strings.ActFishing</listEntry>
            <listEntry value="30000">@Strings.ActInlineSkate</listEntry>
            <listEntry value="31000">@Strings.ActRockClimb</listEntry>
            <listEntry value="31068">@Strings.ActRockClimbIndoor</listEntry>
            <listEntry value="31069">@Strings.ActRockClimbBoulder</listEntry>
            <listEntry value="32000">@Strings.ActSailing</listEntry>
            <listEntry value="32065">@Strings.ActSailingRace</listEntry>
            <listEntry value="33000">@Strings.ActIceSkate</listEntry>
            <listEntry value="33073">@Strings.ActIceSkateHockey</listEntry>
            <listEntry value="34000">@Strings.ActSkyDiving</listEntry>
            <listEntry value="34040">@Strings.ActSkyDivingWingsuit</listEntry>
            <listEntry value="35000">@Strings.ActSnowshoe</listEntry>
            <listEntry value="36000">@Strings.ActSnowmobile</listEntry>
            <listEntry value="37000">@Strings.ActSup</listEntry>
            <listEntry value="38000">@Strings.ActSurfing</listEntry>
            <listEntry value="39000">@Strings.ActWakeboard</listEntry>
            <listEntry value="40000">@Strings.ActWaterSki</listEntry>
            <listEntry value="41000">@Strings.ActKayak</listEntry>
            <listEntry value="41041">@Strings.ActKayakWhite</listEntry>
            <listEntry value="42000">@Strings.ActRafting</listEntry>
            <listEntry value="42041">@Strings.ActRaftingWhite</listEntry>
            <listEntry value="43000">@Strings.ActWindsurf</listEntry>
            <listEntry value="44000">@Strings.ActKitesurf</listEntry>
            <listEntry value="45000">@Strings.ActTactical</listEntry>
            <listEntry value="46000">@Strings.ActJumpmaster</listEntry>
            <listEntry value="47000">@Strings.ActBoxing</listEntry>
            <listEntry value="48000">@Strings.ActFloorClimb</listEntry>
            <listEntry value="49000">@Strings.ActBaseball</listEntry>
            <listEntry value="50000">@Strings.ActSoftballFast</listEntry>
            <listEntry value="51000">@Strings.ActSoftballSlow</listEntry>
            <listEntry value="56000">@Strings.ActShooting</listEntry>
            <listEntry value="57000">@Strings.ActAutoRacing</listEntry>
            <listEntry value="58000">@Strings.ActWinterSport</listEntry>
            <listEntry value="59000">@Strings.ActGrinding</listEntry>
            <listEntry value="60000">@Strings.ActHealthMon</listEntry>
            <listEntry value="61000">@Strings.ActMarine</listEntry>
            <listEntry value="62000">@Strings.ActHiit</listEntry>
            <listEntry value="62073">@Strings.ActHiitAmrap</listEntry>
            <listEntry value="62074">@Strings.ActHiitEmom</listEntry>
            <listEntry value="62075">@Strings.ActHiitTabata</listEntry>
            <listEntry value="63000">@Strings.ActGaming</listEntry>
            <listEntry value="63077">@Strings.ActGamingEsport</listEntry>
            <listEntry value="64000">@Strings.ActRacket</listEntry>
            <listEntry value="64084">@Strings.ActRacketPickle</listEntry>
            <listEntry value="64085">@Strings.ActRacketPadel</listEntry>
            <listEntry value="64094">@Strings.ActRacketSquash</listEntry>
            <listEntry value="64095">@Strings.ActRacketBadminton</listEntry>
            <listEntry value="64096">@Strings.ActRacketRacquetball</listEntry>
            <listEntry value="64097">@Strings.ActRacketTableTennis</listEntry>
            <listEntry value="65000">@Strings.ActWheelWalk</listEntry>
            <listEntry value="65086">@Strings.ActWheelWalkIndoor</listEntry>
            <listEntry value="66000">@Strings.ActWheelRun</listEntry>
            <listEntry value="66087">@Strings.ActWheelRunIndoor</listEntry>
            <listEntry value="67000">@Strings.ActMeditation</listEntry>
            <listEntry value="67062">@Strings.ActMeditationBreath</listEntry>
            <listEntry value="68000">@Strings.ActParaSport</listEntry>
            <listEntry value="69000">@Strings.ActDiscGolf</listEntry>
            <listEntry value="70000">@Strings.ActTeamSport</listEntry>
            <listEntry value="70092">@Strings.ActTeamUltimate</listEntry>
            <listEntry value="71000">@Strings.ActCricket</listEntry>
            <listEntry value="72000">@Strings.ActRugby</listEntry>
            <listEntry value="73000">@Strings.ActHockey</listEntry>
            <listEntry value="73090">@Strings.ActHockeyField</listEntry>
            <listEntry value="73091">@Strings.ActHockeyIce</listEntry>
            <listEntry value="74000">@Strings.ActLacrosse</listEntry>
            <listEntry value="75000">@Strings.ActVolleyball</listEntry>
            <listEntry value="76000">@Strings.ActTube</listEntry>
            <listEntry value="77000">@Strings.ActWakesurf</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.modeDisplayOrder" title="@Strings.modeDisplayOrderTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.mode" title="@Strings.modeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.trackRouteMode</listEntry>
            <listEntry value="1">@Strings.elevationMode</listEntry>
            <listEntry value="2">@Strings.mapMove</listEntry>
            <listEntry value="3">@Strings.debug</listEntry>
            <listEntry value="4">@Strings.mapMoveZoom</listEntry>
            <listEntry value="5">@Strings.mapMoveUD</listEntry>
            <listEntry value="6">@Strings.mapMoveLR</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.uiMode" title="@Strings.uiModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.uiModeShowAll</listEntry>
            <listEntry value="1">@Strings.uiModeHidden</listEntry>
            <listEntry value="2">@Strings.uiModeNone</listEntry>
            <listEntry value="3">@Strings.uiModeShowTouchOnly</listEntry>
            <listEntry value="4">@Strings.uiModeShowButtonsOnly</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.elevationMode" title="@Strings.elevationModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.elevationModeStacked</listEntry>
            <listEntry value="1">@Strings.elevationModeOrderedRoutes</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.recalculateIntervalS" title="@Strings.recalculateIntervalSTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.renderMode" title="@Strings.renderModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.renderModeBufferedRotating</listEntry>
            <listEntry value="1">@Strings.renderModeUnbufferedRotating</listEntry>
            <listEntry value="2">@Strings.renderModeBufferedNoRotating</listEntry>
            <listEntry value="3">@Strings.renderModeNoBufferedNoRotating</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.centerUserOffsetY" title="@Strings.centerUserOffsetYTitle">
        <settingConfig type="numeric" min="0" max="1"/>
    </setting>

    <setting propertyKey="@Properties.displayLatLong" title="@Strings.displayLatLongTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.useStartForStop" title="@Strings.useStartForStopTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.maxTrackPoints" title="@Strings.maxTrackPointsTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.trackWidth" title="@Strings.trackWidthTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.trackStyle" title="@Strings.trackStyleTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.trackStyleLine</listEntry>
            <listEntry value="1">@Strings.trackStyleDashed</listEntry>
            <listEntry value="2">@Strings.trackStylePoints</listEntry>
            <listEntry value="3">@Strings.trackStylePointsInterp</listEntry>
            <listEntry value="4">@Strings.trackStyleBoxes</listEntry>
            <listEntry value="5">@Strings.trackStyleBoxesInterp</listEntry>
            <listEntry value="6">@Strings.trackStyleFilledSquare</listEntry>
            <listEntry value="7">@Strings.trackStyleFilledSquareInterp</listEntry>
            <listEntry value="8">@Strings.trackStylePointsOutline</listEntry>
            <listEntry value="9">@Strings.trackStylePointsOutlineInterp</listEntry>
            <listEntry value="10">@Strings.trackStyleChecker</listEntry>
            <listEntry value="11">@Strings.trackStyleHazard</listEntry>
            <listEntry value="12">@Strings.trackStyleMatrix</listEntry>
            <listEntry value="13">@Strings.trackStylePolka</listEntry>
            <listEntry value="14">@Strings.trackStyleDiamond</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.topDataType" title="@Strings.topDataTypeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.dataTypeNone</listEntry>
            <listEntry value="1">@Strings.dataTypeScale</listEntry>
            <listEntry value="2">@Strings.dataTypeAltitude</listEntry>
            <listEntry value="3">@Strings.dataTypeAvgHR</listEntry>
            <listEntry value="4">@Strings.dataTypeAvgSpeed</listEntry>
            <listEntry value="5">@Strings.dataTypeCurHR</listEntry>
            <listEntry value="6">@Strings.dataTypeCurSpeed</listEntry>
            <listEntry value="7">@Strings.dataTypeDistance</listEntry>
            <listEntry value="8">@Strings.dataTypeTime</listEntry>
            <listEntry value="9">@Strings.dataTypeAscent</listEntry>
            <listEntry value="10">@Strings.dataTypeDescent</listEntry>
            <listEntry value="11">@Strings.dataTypeAvgPace</listEntry>
            <listEntry value="12">@Strings.dataTypeCurPace</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.bottomDataType" title="@Strings.bottomDataTypeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.dataTypeNone</listEntry>
            <listEntry value="1">@Strings.dataTypeScale</listEntry>
            <listEntry value="2">@Strings.dataTypeAltitude</listEntry>
            <listEntry value="3">@Strings.dataTypeAvgHR</listEntry>
            <listEntry value="4">@Strings.dataTypeAvgSpeed</listEntry>
            <listEntry value="5">@Strings.dataTypeCurHR</listEntry>
            <listEntry value="6">@Strings.dataTypeCurSpeed</listEntry>
            <listEntry value="7">@Strings.dataTypeDistance</listEntry>
            <listEntry value="8">@Strings.dataTypeTime</listEntry>
            <listEntry value="9">@Strings.dataTypeAscent</listEntry>
            <listEntry value="10">@Strings.dataTypeDescent</listEntry>
            <listEntry value="11">@Strings.dataTypeAvgPace</listEntry>
            <listEntry value="12">@Strings.dataTypeCurPace</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.dataFieldTextSize" title="@Strings.dataFieldTextSizeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.fontXTiny</listEntry>
            <listEntry value="1">@Strings.fontTiny</listEntry>
            <listEntry value="2">@Strings.fontSmall</listEntry>
            <listEntry value="3">@Strings.fontMedium</listEntry>
            <listEntry value="4">@Strings.fontLarge</listEntry>
            <!-- numbers cannot be used because we add letters too, and the numbers fonts only renders numbers -->
            <!-- <listEntry value="5">@Strings.fontNumMild</listEntry>
            <listEntry value="6">@Strings.fontNumMedium</listEntry>
            <listEntry value="7">@Strings.fontNumHot</listEntry>
            <listEntry value="8">@Strings.fontNumThaiHot</listEntry> -->
            <!-- System Fonts seem to be almost the same, so save the space for the strings and code-->
            <!-- <listEntry value="9">@Strings.fontSysXTiny</listEntry>
            <listEntry value="10">@Strings.fontSysTiny</listEntry>
            <listEntry value="11">@Strings.fontSysSmall</listEntry>
            <listEntry value="12">@Strings.fontSysMedium</listEntry>
            <listEntry value="13">@Strings.fontSysLarge</listEntry> -->
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.dataFieldPageCounts" title="@Strings.dataFieldPageCountsTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    
    <setting propertyKey="@Properties.dataFieldPageTypes" title="@Strings.dataFieldPageTypesTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.minTrackPointDistanceM" title="@Strings.minTrackPointDistanceMTitle">
        <settingConfig type="numeric" min="0"/>
    </setting>
    
    <setting propertyKey="@Properties.trackPointReductionMethod" title="@Strings.trackPointReductionMethodTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.trackPointReductionMethodDownsample</listEntry>
            <listEntry value="1">@Strings.trackPointReductionMethodReumannWitkam</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.useTrackAsHeadingSpeedMPS" title="@Strings.useTrackAsHeadingSpeedMPSTitle">
        <settingConfig type="numeric" min="0"/>
    </setting>

    <setting propertyKey="@Properties.mapMoveScreenSize" title="@Strings.mapMoveScreenSizeTitle">
        <settingConfig type="numeric" min="0" max="1"/>
    </setting>
    
    <!-- <group id="zoomAtPace" title="@Strings.zoomAtPaceTitle"> -->
        <setting propertyKey="@Properties.zoomAtPaceMode" title="@Strings.zoomAtPaceModeTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.zoomAtPaceModePace</listEntry>
                <listEntry value="1">@Strings.zoomAtPaceModeStopped</listEntry>
                <listEntry value="2">@Strings.zoomAtPaceModeNever</listEntry>
                <listEntry value="3">@Strings.zoomAtPaceModeAlways</listEntry>
                <listEntry value="4">@Strings.zoomAtPaceModeRoutesWithoutTrack</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.metersAroundUser" title="@Strings.metersAroundUser" prompt="@Strings.metersAroundUserPrompt">
            <settingConfig type="numeric" min="0" max="100000"/>
        </setting>
        
        <setting propertyKey="@Properties.zoomAtPaceSpeedMPS" title="@Strings.zoomAtPaceSpeedMPS" prompt="@Strings.zoomAtPaceSpeedMPSPrompt">
            <settingConfig type="numeric" min="0" max="50"/>
        </setting>
    <!-- </group> -->

    <setting propertyKey="@Properties.mapEnabled" title="@Strings.mapEnabledTitle">
        <settingConfig type="boolean"/>
    </setting>
    <!-- <group id="mapSettings" title="@Strings.mapsettingsTitle" enableIfTrue="@Properties.mapEnabled"> -->
        <setting propertyKey="@Properties.tileCacheSize" title="@Strings.tileCacheSizeTitle" prompt="@Strings.tileCacheSizePrompt">
            <settingConfig type="numeric" min="0"/>
        </setting>

        <setting propertyKey="@Properties.tileCachePadding" title="@Strings.tileCachePaddingTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        
        <setting propertyKey="@Properties.maxPendingWebRequests" title="@Strings.maxPendingWebRequests">
            <settingConfig type="numeric" min="0" max="100"/>
        </setting>
        
        <setting propertyKey="@Properties.disableMapsFailureCount" title="@Strings.disableMapsFailureCountTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>

        <setting propertyKey="@Properties.httpErrorTileTTLS" title="@Strings.httpErrorTileTTLSTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>

        <setting propertyKey="@Properties.errorTileTTLS" title="@Strings.errorTileTTLSTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>

        <setting propertyKey="@Properties.fixedLatitude" title="@Strings.fixedLatitude" prompt="@Strings.fixedLatitudePrompt">
            <settingConfig type="numeric" min="-90" max="90"/>
        </setting>

        <setting propertyKey="@Properties.fixedLongitude" title="@Strings.fixedLongitude" prompt="@Strings.fixedLongitudePrompt">
            <settingConfig type="numeric" min="-180" max="180"/>
        </setting>

        <setting propertyKey="@Properties.scaleRestrictedToTileLayers" title="@Strings.scaleRestrictedToTileLayersTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.packingFormat" title="@Strings.packingFormatTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.packingFormatDefault</listEntry>
                <listEntry value="1">@Strings.packingFormatYUV</listEntry>
                <listEntry value="2">@Strings.packingFormatPNG</listEntry>
                <listEntry value="3">@Strings.packingFormatJPG</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.useDrawBitmap" title="@Strings.useDrawBitmapTitle">
            <settingConfig type="boolean"/>
        </setting>
    <!-- </group> -->
    <!-- <group id="tileServerSettings" title="@Strings.tileServerSettingsTitle" enableIfTrue="@Properties.mapEnabled"> -->
        <setting propertyKey="@Properties.mapChoice" title="@Strings.mapChoice">
            <settingConfig type="list">
                <listEntry value="0">@Strings.custom</listEntry>
                <listEntry value="1">@Strings.companionApp</listEntry>
                <listEntry value="2">@Strings.openTopoMap</listEntry>
                <listEntry value="3">@Strings.esriWorldImagery</listEntry>
                <listEntry value="4">@Strings.esriWorldStreetMap</listEntry>
                <listEntry value="5">@Strings.esriWorldTopoMap</listEntry>
                <listEntry value="6">@Strings.esriWorldTransportation</listEntry>
                <listEntry value="7">@Strings.esriWorldDarkGrayBase</listEntry>
                <listEntry value="8">@Strings.esriWorldHillshade</listEntry>
                <listEntry value="9">@Strings.esriWorldHillshadeDark</listEntry>
                <listEntry value="10">@Strings.esriWorldLightGrayBase</listEntry>
                <listEntry value="11">@Strings.esriUSATopoMaps</listEntry>
                <listEntry value="12">@Strings.esriWorldOceanBase</listEntry>
                <listEntry value="13">@Strings.esriWorldShadedRelief</listEntry>
                <listEntry value="14">@Strings.esriNatGeoWorldMap</listEntry>
                <listEntry value="15">@Strings.esriWorldNavigationCharts</listEntry>
                <listEntry value="16">@Strings.esriWorldPhysicalMap</listEntry>
                <listEntry value="17">@Strings.openStreetMapcyclosm</listEntry>
                <listEntry value="18">@Strings.stadiaAlidadeSmooth</listEntry>
                <listEntry value="19">@Strings.stadiaAlidadeSmoothDark</listEntry>
                <listEntry value="20">@Strings.stadiaOutdoors</listEntry>
                <listEntry value="21">@Strings.stadiaStamenToner</listEntry>
                <listEntry value="22">@Strings.stadiaStamenTonerLite</listEntry>
                <listEntry value="23">@Strings.stadiaStamenTerrain</listEntry>
                <listEntry value="24">@Strings.stadiaStamenWatercolor</listEntry>
                <listEntry value="25">@Strings.stadiaOSMBright</listEntry>
                <listEntry value="26">@Strings.cartoVoyager</listEntry>
                <listEntry value="27">@Strings.cartoDarkMatter</listEntry>
                <listEntry value="28">@Strings.cartoDarkLightAll</listEntry>
                <listEntry value="29">@Strings.mapyBasic</listEntry>
                <listEntry value="30">@Strings.mapyOutdoor</listEntry>
                <listEntry value="31">@Strings.mapyWinter</listEntry>
                <listEntry value="32">@Strings.mapyAerial</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.tileUrl" title="@Strings.tileUrlTitle" prompt="@Strings.tileUrlPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>

        <setting propertyKey="@Properties.authToken" title="@Strings.authTokenTitle">
            <settingConfig type="alphaNumeric"/>
        </setting>

        <setting propertyKey="@Properties.tileSize" title="@Strings.layerTileSize" prompt="@Strings.tileSizePrompt">
            <settingConfig type="numeric" min="2" max="256"/>
        </setting>

        <setting propertyKey="@Properties.scaledTileSize" title="@Strings.scaledTileSizeTitle" prompt="@Strings.scaledTileSizePrompt">
            <settingConfig type="numeric" min="2" max="256"/>
        </setting>

        <setting propertyKey="@Properties.tileLayerMax" title="@Strings.tileLayerMaxTitle" prompt="@Strings.tileLayerMaxPrompt">
            <settingConfig type="numeric" min="0"/>
        </setting>

        <setting propertyKey="@Properties.tileLayerMin" title="@Strings.tileLayerMinTitle" prompt="@Strings.tileLayerMinPrompt">
            <settingConfig type="numeric" min="0"/>
        </setting>

        <setting propertyKey="@Properties.fullTileSize" title="@Strings.fullTileSizeTitle" prompt="@Strings.fullTileSizePrompt">
            <settingConfig type="numeric" min="2" max="256"/>
        </setting>
    <!-- </group> -->
    <!-- <group id="mapStorageSettings" title="@Strings.mapStorageSettingsTitle" enableIfTrue="@Properties.mapEnabled"> -->
        <setting propertyKey="@Properties.cacheTilesInStorage" title="@Strings.cacheTilesInStorageTitle">
            <settingConfig type="boolean"/>
        </setting>
        
        <setting propertyKey="@Properties.storageMapTilesOnly" title="@Strings.storageMapTilesOnlyTitle">
            <settingConfig type="boolean"/>
        </setting>
        
        <setting propertyKey="@Properties.storageTileCacheSize" title="@Strings.storageTileCacheSizeTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        
        <setting propertyKey="@Properties.storageTileCachePageCount" title="@Strings.storageTileCachePageCountTitle">
            <settingConfig type="numeric" min="1"/>
        </setting>

        <setting propertyKey="@Properties.storageSeedBoundingBox" title="@Strings.storageSeedBoundingBoxTitle">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.storageSeedRouteDistanceM" title="@Strings.storageSeedRouteDistanceMTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
    <!-- </group> -->

    <!-- <group id="offTrackAlertsGroup" title="@Strings.offTrackAlertsGroupTitle"> -->
        <setting propertyKey="@Properties.offTrackAlertsDistanceM" title="@Strings.offTrackAlertsDistanceMTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.offTrackCheckIntervalS" title="@Strings.offTrackCheckIntervalSTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.drawLineToClosestPoint" title="@Strings.drawLineToClosestPointTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.drawCheverons" title="@Strings.drawCheveronsTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.offTrackWrongDirection" title="@Strings.offTrackWrongDirectionTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.enableOffTrackAlerts" title="@Strings.enableOffTrackAlertsTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.turnAlertTimeS" title="@Strings.turnAlertTimeSTitle"  prompt="@Strings.turnAlertPrompt">
            <settingConfig type="numeric" min="-1"/>
        </setting>
        <setting propertyKey="@Properties.minTurnAlertDistanceM" title="@Strings.minTurnAlertDistanceMTitle"  prompt="@Strings.turnAlertPrompt">
            <settingConfig type="numeric" min="-1"/>
        </setting>
        <setting propertyKey="@Properties.offTrackAlertsMaxReportIntervalS" title="@Strings.offTrackAlertsMaxReportIntervalSTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.alertType" title="@Strings.alertTypeTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.alertTypeToast</listEntry>
                <listEntry value="2">@Strings.alertTypeImage</listEntry>
            </settingConfig>
        </setting>
    <!-- </group> -->

    <!-- <group id="colours" title="@Strings.coloursTitle"> -->
        <setting propertyKey="@Properties.trackColour" title="@Strings.trackColourTitle" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>
        
        <setting propertyKey="@Properties.trackColour2" title="@Strings.trackColour2Title" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>

        <setting propertyKey="@Properties.defaultRouteColour" title="@Strings.defaultRouteColourTitle" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>

        <setting propertyKey="@Properties.elevationColour" title="@Strings.elevationColourTitle" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>
        
        <setting propertyKey="@Properties.userColour" title="@Strings.userColour" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>
        
        <setting propertyKey="@Properties.normalModeColour" title="@Strings.normalModeColour" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>
        
        <setting propertyKey="@Properties.uiColour" title="@Strings.uiColour" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>
        
        <setting propertyKey="@Properties.debugColour" title="@Strings.debugColour" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>
    <!-- </group> -->

    <!-- <group id="routesdesc" title="@Strings.routesTitle"> -->
        <setting propertyKey="@Properties.routesEnabled" title="@Strings.routesEnabled">
            <settingConfig type="boolean"/>
        </setting>
        
        <setting propertyKey="@Properties.displayRouteNames" title="@Strings.displayRouteNamesTitle">
            <settingConfig type="boolean"/>
        </setting>
        
        <setting propertyKey="@Properties.routeMax" title="@Strings.routeMax">
            <settingConfig type="numeric"/>
        </setting>
    <!-- </group> -->
    
    <!-- <group id="debugSettings" title="@Strings.debugSettingsTitle"> -->
        <setting propertyKey="@Properties.drawLineToClosestTrack" title="@Strings.drawLineToClosestTrackTitle">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.showTileBorders" title="@Strings.showTileBordersTitle">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.showErrorTileMessages" title="@Strings.showErrorTileMessagesTitle">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.tileErrorColour" title="@Strings.tileErrorColourTitle" prompt="@Strings.colourPrompt">
            <settingConfig type="alphaNumeric"/>
        </setting>

        <setting propertyKey="@Properties.drawHitBoxes" title="@Strings.drawHitBoxesTitle">
            <settingConfig type="boolean"/>
        </setting>
        
        <setting propertyKey="@Properties.showDirectionPoints" title="@Strings.showDirectionPointsTitle">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.showDirectionPointTextUnderIndex" title="@Strings.showDirectionPointTextUnderIndexTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
    <!-- </group> -->

    <setting propertyKey="@Properties.returnToUser" title="@Strings.returnToUserTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.resetDefaults" title="@Strings.resetDefaults">
        <settingConfig type="boolean"/>
    </setting>
</settings>
